<?xml version="1.0" encoding="UTF-8"?>
<zte-status-config>

    <port>COM7</port>

    <descriptor location="SYSTEM\CurrentControlSet\Services\ZTEusbmdm6k\Enum" key="0" />
    <identifier location="SYSTEM\CurrentControlSet\Enum\{identifier}\Device Parameters" key="PortName"/>
    
    <check request="AT+ZOPRT?" response="([+]+)ZOPRT" />
    <start request="AT+ZOPRT=5" response="\s*([+]+)ZPASR" />
    
    <prepare request="AT+CUSD=1,&quot;1&quot;,15" response="\s*([+]+)CUSD: 0,&quot;" />
    <prepare request="AT+CUSD=1,&quot;1&quot;,15" response="\s*([+]+)CUSD: 0,&quot;" />
    <prepare request="AT+CUSD=1,&quot;*797#&quot;,15" response="\s*([+]+)CUSD: 1,&quot;" />
    <prepare request="AT+CUSD=1,&quot;2&quot;,15" response="\s*([+]+)CUSD: 1,&quot;" />
    
    <main request="AT+CUSD=1,&quot;1&quot;,15" response="\s*([+]+)CUSD: [01],&quot;" />
    
    <stop request="AT+CUSD=0" response="\s*OK\s*" />
    <stop request="AT+ZOPRT=6" response="\s*OK\s*" />
    
</zte-status-config>