<?xml version="1.0" encoding="UTF-8"?>
<!--
    Configuration file for MtsCheckAccount application.
    
    Inside /mts-check-account-config/data/device/[check,start,command,main] attributes
    it is allowed to use {{ }} as a directive for "convert to PDU before use"

    Licensed through GPL.
    Author: Milan Aleksic (milan dot aleksic at gmail dot com)
-->
<mts-check-account-config  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="config.xsd">

    <devices mock="false">
        <device id="HUAWEI E1550">
            <windows deviceId="hwdatacard" deviceFriendlyNameRegEx="HUAWEI Mobile Connect - 3G PC UI Interface.*" />
            <linux deviceId="???" />
        </device>
        <device id="ZTE MF622">
            <windows deviceId="ZTEusbmdm6ka" deviceFriendlyNameRegEx="ZTE Proprietary USB Modem.*" />
            <linux deviceId="ZTE CDMA Technologies MSM" />
        </device>
    </devices>

    <data mock="false">
        <device id="HUAWEI E1550">
            <command
                    request="AT+CUSD=1,&quot;{{*797#}}&quot;,15"
                    barrier="(?s)\s*([+]+)CUSD: 1,&quot;.*2\. Stanje racuna"
            />
            <command
                    request="AT+CUSD=1,&quot;{{2}}&quot;,15"
                    barrier="(?s)\s*([+]+)CUSD: 1,&quot;.*2\. Poslednji racun"
            />
            <main
                    request="AT+CUSD=1,&quot;{{1}}&quot;,15"
                    barrier="(?s)\s*([+]+)CUSD: [01],&quot;.*Stanje"
            />
        </device>
        <device id="ZTE MF622">
            <check
                    request="AT+ZOPRT?"
                    barrier="([+]+)ZOPRT"
                    responseForActivatingStartRegEx=": 6"
            />
            <start
                    request="AT+ZOPRT=5"
                    barrier="\s*([+]+)ZPASR"
            />
            <command
                    request="AT+CUSD=1,&quot;1&quot;,15"
                    barrier="\s*([+]+)CUSD: 0,&quot;"
            />
            <command
                    request="AT+CUSD=1,&quot;1&quot;,15"
                    barrier="\s*([+]+)CUSD: 0,&quot;"
            />
            <command
                    request="AT+CUSD=1,&quot;*797#&quot;,15"
                    barrier="(?s)\s*([+]+)CUSD: 1,&quot;.*2\. Stanje racuna"
            />
            <command
                    request="AT+CUSD=1,&quot;2&quot;,15"
                    barrier="(?s)\s*([+]+)CUSD: 1,&quot;.*2\. Poslednji racun"
            />
            <main
                    request="AT+CUSD=1,&quot;1&quot;,15"
                    barrier="(?s)\s*([+]+)CUSD: [01],&quot;.*Stanje"
            />
            <post
                    request="AT+CUSD=0"
                    barrier="\s*OK\s*"
            />
            <post
                    request="AT+ZOPRT=6"
                    barrier="\s*OK\s*"
            />
        </device>
    </data>

</mts-check-account-config>